<div class="sidebar">
  <div class="fixed-left sidenavv">
    <button
      type="button"
      class="button-sidebar side-1"
      routerLink="/search-criteria"
      (click)="selectedTab('search-criteria')"
      [ngClass]="{ active: selectedTabOption === 'search-criteria' }"
    >
      Address search
    </button>
    <button
      type="button"
      class="button-sidebar side-2"
      routerLink="/reverse-address-search"
      (click)="selectedTab('reverse-address-search')"
      [ngClass]="{ active: selectedTabOption === 'reverse-address-search' }"
    >
      Reverse address search
    </button>
    <button
      type="button"
      class="button-sidebar side-3"
      routerLink="/reverse-phone-search"
      (click)="selectedTab('reverse-phone-search')"
      [ngClass]="{ active: selectedTabOption === 'reverse-phone-search' }"
    >
      Reverse phone search
    </button>
  </div>
</div>
