<div class="well">
  <p>
    Use this application to search prison location, probation/parole supervision
    information, current and historical addresses. The information you can
    access is based on your JNET security and application roles. Records are
    obtained and returned from the following sources:
  </p>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">AOPC</div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">County Prison</div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      County Probation
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">DOC</div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">Domestic Relations</div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      PA Dept of Labor & Industry
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      PBPP
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      PennDOT
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      PSP - CLEAN
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      WebCPIN
    </div>
  </div>
  <p>
    This application is not a replacement for the underlying applications. To
    perform additional searches, the underlying applications may be accessed via
    the JNET Portal homepage.
  </p>
</div>

<div class="footer">
  <p>
    © 1998-2015 Mid Atlantic Regional Information Sharing (MARIS) Initiative.
    All rights reserved.
  </p>
  <div class="disclaimer">
    [
    <i class="fa fa-plus"></i>
    ]
    <a
      id="expandFooterLink"
      href="javascript:void(0)"
      data-toggle="collapse"
      data-target="#footer-expanded"
    >
      View Disclaimer</a
    >
  </div>
</div>
