.search-params {
  background-color: #d9edf7;
}


.search-param {
  padding: 5px;
  font-weight: bold;
}



.search-param-button {
  margin-top: 5px;
}

.end-result {
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
  margin: 10px -10px 10px -10px;
}

table thead th {
  color: #31708f;
  text-align: left;
}

