.title2-nav {
  font-size: 14px;
  font-weight:normal;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 1.17em;
  padding: inherit;
  padding-left: 10px;
}
span.in-label {
  float: right;
  margin-left: 1px;
  font-weight: normal;
  font-size: 0.7em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.filed-weight {
  font-weight: bold;
}

.button{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  background-color:#f5f5f5 ;
  color: black;
}
.button1{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
